*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:
    linear-gradient(135deg, #dbeafe, #fbcfe8);
    min-height:100vh;
    padding:30px;
}

.container{
    max-width:700px;
    margin:auto;
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.header h1{
    color:#1e3a8a;
    margin-bottom:10px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
.deskripsi{
    color:#444;
    margin-top:10px;
    line-height:1.8;
    font-size:16px;
}

h2{
    margin-bottom:15px;
    color:#2563eb;
}

button{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#1d4ed8;
}

input{
    width:70%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

ul{
    margin-top:15px;
    list-style:none;
}

li{
    background:#eef2ff;
    padding:10px;
    border-radius:8px;
    margin-top:8px;
}

#bio{
    margin-top:15px;
    line-height:1.7;
}

